@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 { 
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.logo { 
    width: 100px;  /* Adjust the width as needed */ 
    float:left; /* Positioning the logo */ 
   
}
.section-p1 {
    padding:40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff ;
    background-color:#000  ;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

button.green{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(127, 54, 2) ;
    background-color:transparent ;
    cursor: pointer;
    border: 1px solid rgb(127, 54, 2) ;
    outline: none;
    transition: 0.2s;

}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(175, 146, 125) ;
    background-color:transparent ;
    cursor: pointer;
    border: 1px solid rgb(230, 175, 135) ;
    outline: none;
    transition: 0.2s;
}

body { 
    width: 100%;
}

/* header start */

#header {
    display: flex ;
    align-items: corner;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);  /* x-axis, y-axis, radius*/
    position: sticky; /*to make navbar sticky thiugh screen is scrolling OR USE FIXED AND WIDTH 100%*/
    top:0;
    left:0;
    z-index: 100;/*ensures others are not moving through the header*/

}

#navbar {
    display: flex;
    align-items: center;  /* shows home, shop, blog etc items in single rowc*/
    justify-content: center;
    padding-top: 45px;

}

#navbar li{
    list-style: none ; /* removes bullets */
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size:16px;
    font-weight:600;
    color:rgb(128, 92, 0);
    transition: 0.3s ease; /* for smooth transition */
}


#navbar li a:hover,
#navbar li a.active{   /* active makes the transition permanent*/
    color:rgb(243, 9, 87);/* when cursor is placed color of the font changes*/
}

#navbar li a.active::after,/* make the text highlighted when the cursor is hover on it*/
#navbar li a:hover::after{ /* this hover::afetr makes the text hovered gets underlined*/
    content:  "";
    width: 30%;
    height: 2px;
    background:  rgb(243, 9, 87); 
    position: absolute;  /* adding positon=relative in the parent tag of the navbar i.e, navbar li, makes the desired change( underline of the text)*/
    bottom: -4px;
    left: 20px;

}

#mobile{
    display:none;
    align-items: center;
}

#close{
    display: none;
}


/* Home page */ 
 
#hero{
    background-image: url("img/model.jpeg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

/* not changing the color as my background goes good with black */
#hero h1{
    color:antiquewhite ;
} 

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color:rgb(18, 14, 9);
    border: 0;
    padding: 14px 80px 14px 65px; /* top left buttom right*/
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size:15px
}

#hero button:hover{
    background: #e31358;
    color: beige;
}


#feature{
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap: wrap;
}
#feature .feature-box{
    width: 180px;
    text-align:center;
    padding-left: 10px;
    padding: 25px 15px; /* top and buttom; left abd right*/
    box-shadow: 20px 20px 34pxx rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 10px;
}

#feature .feature-box.hover{
    box-shadow:10px 10px 54px rgba(70, 62, 221 0.1);
}

#feature .feature-box img{
    width:100%;
    margin-bottom:10px;

}

#feature .feature-box h6{
    display: inline-block;
    padding:9px 8px 6px 8px;
    line-height:1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

/* changing text background colors for the remaining*/
#feature .feature-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .feature-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .feature-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .feature-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .feature-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
    
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;/*fixes the horizontal width(no need to scroll horizontally)*/
    
}
#product1 .pro{
    width: 23%;
    min-width:250px ;
    padding: 10px 12px;
    border:1px solid #cce7d0;
    border-radius: 25px;
    cursor:pointer;
    box-shadow: 20px 20px 30pxx rgba(0,0,0,0.02);
    margin: 15px 0;
    position: relative;
    transition:0.2s ease;
    
}

#product1 .pro img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    
}

/*manaki matuku panicheyyatledhu*/
#product1 .pro:hover{
    box-shadow: 20px 20px 30pxx rgba(0,0,0,0.06); 
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(237, 203, 14);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088180 ;
}

#product1 .pro .cart{
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border:1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-image: url("img/banner/b2.jfif") ;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #090909;
    font-size: 16px;
}

#banner h2{
    color: #090909;
    font-size: 30px;
    padding: 10px 0;
}

#banner span{
    color: rgb(239, 4, 51);
}

#banner button:hover{
    background: #088178;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b3.jfif") ;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b4.jfif") ;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4{
    color: rgb(127, 54, 2) ;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: rgb(127, 54, 2) ;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: rgb(127, 54, 2) ;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color:#088178;
    border: 1px solid #088178;
}

#sm-banner .banner-box2 h4{
    color: rgb(211, 151, 109) ;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner.banner-box2 h2{
    color: rgb(160, 142, 129) ;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner .banner-box2 span{
    color: rgb(211, 151, 109) ;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box2:hover button{
    background-color:#088178;
    border: 1px solid #088178;
}

#banner2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner2 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b5.jpg") ;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}


#banner2 .banner-box2{
    
    background-image: url("img/banner/b6.jfif") ;
  
}

#banner2 .banner-box3{
   
    background-image: url("img/banner/b7.jfif") ;
   
}

#banner2  h2{
    color: #0c0c0c ;
    font-weight: 900;
    font-size: 22px;
}

#banner2  h3{
    color: #d21740 ;
    font-weight: 900;
    font-size: 15px;
}

#newsletter{
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap: wrap;
    background-image: url("img/fr1.jfif");
    background-repeat: no repeat;
    background-position: 20% 30%;
}

 /*#newsletter .newstext{
  padding: 20px 20px;
  
}*/

#newsletter .form{
    display: flex;
    width: 40% ;
    
  }

#newsletter h4{
    color: #d1e8f2;
    font-size: 22px;
    font-weight: 700;
}

#newsletter p{
    color: #d1e8f2;
    font-size: 14px;
    font-weight: 600;
}

#newsletter p span{
    color: #e8ee2b;
}

#newsletter input{
    height: 2.005rem;
    padding: 0 1.25em;
    font-size: 14px;
    width:100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #0dbbaf;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{    
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: #222;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0 ; /*clockwise from top*/
    color: #222;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px
}

footer .icon{
    color:#465b52;
    cursor: pointer;
    padding-right: 4px;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color:#088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}









/*Start Media Query ----- making application responsive for all type of devices*/
@media (max-width: 799px) {
    
  .section-m1 {
        padding: 40px 40px;
    }
    
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: end of the list;/*keeping it 100vh makes the flex till bottom of the screen, as i don't want to see the flex all through the screen*/
        width: 300px;
        background-color:#E3E6F3 ;
        box-shadow: 0 40px 60px rgb(0,0,0,0.1) ;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right:0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display:flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left:30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    #bar{
        cursor: pointer;
    }

    #hero {      
        height: 70vh;      
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }
    #feature .feature-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px ;
        
    }

    #banner {
        height: 20vh;       
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #sm-banner .banner-box2 {
        min-width: 100%;
        height: 30vh;
    }
    #banner2 {
        padding: 40px 80px;
    }

    #banner2 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width:477px){
  #header{
    padding: 10px 30px;
  }
}